.app__footer{
    background-color: #edefee;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
}

.app__footer article{
    margin-top: 50px;
    text-align: center;
    color: #495e57;
    font-weight: bold;
    font-size: 20px;
    width: 10%;
  padding-right: 5%;
  margin-bottom: 50px;
}
.app__footer-dormat-navigation{
    margin-left: 5%;
}

.app__footer a{
    color: #333333;
    font-weight: normal;
    text-align: left;
   display: block;
}
.app__footer li{
    list-style: none;
}

.app__footer img{
    width: 250px;
    margin-left: 100px;
    width: 20%;
    margin-top: -70px;

}