.app__header{
    background-color: var(--color-green);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.app__header-h1{
    font-family: var(--font-base);
    color: var(--color-yellow);
    font-size: 64px;
    font-weight: medium;
    margin-bottom: 0;
}

.app__header-h2{
    font-family: Markazi text;
    color: #edefee;
    font-size: 40px;
    margin-bottom: 0;
    
}

.p__opensas{
    font-size: 18px;
    color: #edefee;
    
}

.app__wrapper__img img{
  object-fit: cover;
  width: 350px;
  height: 350px;
  margin: 0 120px;
}

.app__header-button{
    background-color: var(--color-yellow);
    font-weight: bold;
    border-radius: 15px;
    padding: 20px;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

@media (max-width: 899px) {
    .app__header {
      padding: 20px;
      margin-right: -60px;
    }
    
    .app__header-h1 {
      font-size: 40px;
      
    }
    
    .app__header-h2 {
      font-size: 20px;
    }
    
    .p__opensas {
      font-size: 14px;
      margin-right: -40px;
    }
    .app__header-button{
      background-color: var(--color-yellow);
      font-weight: bold;
      border-radius: 15px;
      padding: 12px;
      font-size: 15px;
      border: none;
      cursor: pointer;
    }
    .app__wrapper__img img {
      width: 200px;
      height: 200px;
      margin: 0 60px;
    }
  }

  
  
  